.team-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;

  margin: 0 auto;
}

.dex-container {
  margin: 16px;
  margin-top: 32px;
  height: 600px;
  overflow-y: scroll;
  margin: 32px auto 0;
}

@media (min-width: 900px) {
  .team-container {
    grid-template-columns: repeat(6, auto);
  }
}
