.sprite-container {
  cursor: pointer;
  margin: 12px;
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1px);
  }
}

.sprite-container:hover .pokesprite.pokemon {
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-name: bounce;
}

.pokesprite.pokemon {
  position: relative;
  top: -14px;
  left: -10px;
}

.bug-primary { background-color: #C6D16E }
.bug-secondary { border-color: #A8B820 }
.dark-primary { background-color: #A29288 }
.dark-secondary { border-color: #705848 }
.dragon-primary { background-color: #A27DFA }
.dragon-secondary { border-color: #4A3994 }
.electric-primary { background-color: #FAE078 }
.electric-secondary { border-color: #F8D030 }
.fairy-primary { background-color: #F4BDC9 }
.fairy-secondary { border-color: #EE99AC }
.fighting-primary { background-color: #D67873 }
.fighting-secondary { border-color: #C03028 }
.fire-primary { background-color: #F5AC78 }
.fire-secondary { border-color: #F08030 }
.flying-primary { background-color: #C6B7F5  }
.flying-secondary { border-color: #A890F0 }
.ghost-primary { background-color: #A292BC }
.ghost-secondary { border-color: #705898 }
.grass-primary { background-color: #A7DB8D }
.grass-secondary { border-color: #78C850 }
.ground-primary { background-color: #EBD69D }
.ground-secondary { border-color: #E0C068 }
.ice-primary { background-color: #BCE6E6 }
.ice-secondary { border-color: #98D8D8 }
.mystery-primary { background-color: #9DC1B7 }
.mystery-secondary { border-color: #44685E }
.normal-primary { background-color: #C6C6A7 }
.normal-secondary { border-color: #A8A878 }
.poison-primary { background-color: #C183C1 }
.poison-secondary { border-color: #A040A0 }
.psychic-primary { background-color: #FA92B2 }
.psychic-secondary { border-color: #F85888 }
.rock-primary { background-color: #D1C17D }
.rock-secondary { border-color: #B8A038 }
.steel-primary { background-color: #D1D1E0 }
.steel-secondary { border-color: #B8B8D0 }
.water-primary { background-color: #9DB7F5 }
.water-secondary { border-color: #6890F0 }
